.site_logo {
	.logoanimation,
	.logo_form
}

.logo_form {
	height: 100px;
	weight: 135px;
	margin: 25px;
	}
	
	*/ Animation */
	.logoanimation {
	animation-name: logoPulseAndChangeColour;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
	}
	
	@keyframes logoPulseAndChangeColour {
    0% {
        transform: none;
        background-color: rgba(255, 255, 255, 100);
    }
    25% {
        background-color: rgba(204, 255, 204, 100);
    }
    50% {
        transform: scale(2);
        background-color: rgba(229, 255, 204, 100);
    }
    75% {
        background-color: rgba(229, 255, 204, 100);
    }
    100% {
        transform: none;
        background-color: rgba(204, 255, 153, 100);
    }
}